<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hello World</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css' )}}" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <h1 class='text-center p-3'>Weather Now!</h1><br />
    <form action="/" method="POST">
        <div class="input-group w-25 p-5 d-flex" style="margin-left:37.5%; margin-right: 37.5;">
            <input type="text" name="city">
            <input class="btn btn-info" type="submit" value="Go">
        </div>
    </form>
</body>

</html>